@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, .container {
	background-color: #b5b5b5;
	font-family: 'Inter', sans-serif;
}

nav {
    background-color: #424754;
    height: 100vh;
    border-top-right-radius: 1em;  
    border-bottom-right-radius: 1em; 
    position: fixed;
    top: 0;                
    left: 0;               
    z-index: 1000;   
}

.container {
    margin-left: 250px;
    padding: 20px;     
}

.text-hover-primary:hover {
    color: #14E8FF!important;
}

a {
	text-decoration: none!important;
}

input {
    border-radius: 0.3em;
    border: none;
}

button {
    margin-left: 0px!important;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: bold;
    border: none;
    border-radius: 0.3em;
    background-color: #14E8FF;
}

button:hover {
    background-color: #424754;
    color: white;
}

.view-btn {
    padding-left: 0em;
    padding-right: 0em;
    border-color: black!important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.view-btn:hover {
    background-color: black!important;
    color: white;
}

#delete-btn {
    margin-left: 10px!important;
    color: rgb(173, 4, 4)!important;
    border-color: rgb(173, 4, 4)!important;
}

#delete-btn:hover {
    color: white!important;
    background-color: rgb(173, 4, 4)!important;
    border-color: rgb(173, 4, 4)!important;
}

.secondary-btn {
    margin-left: 10px!important;
    background-color: transparent!important;
    border-color: #000000!important;
    color: #000000!important;
}

.secondary-btn:hover {
    background-color: #424754!important;
    color: white!important;
    border-color: #424754!important;
}