@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, .container {
	background-color: #F0F0F0;
	font-family: 'Inter', sans-serif;
}

nav {
    background-color: #424754;
    height: 100vh;
    border-top-right-radius: 1em;  
    border-bottom-right-radius: 1em; 
}


.text-hover-primary:hover {
    color: #14E8FF!important;
}

a {
	text-decoration: none!important;
}